html, body {
    height: 100%;
    font-family: 'Segoe UI';
}
h1, h2, h3{
    color: #2C529C;
    /*color: #0B766E;*/
    font-weight: normal;
}
code{
    background-color: bisque;
    color: brown;
    padding:10px 10px;
    margin:10px 10px 10px 0;
    display:block;
    border-radius: 2px;
}
.left-menu-header{
    background-color: #2C529C;
    /*background-color: #0B766E;*/
    color:white;
    padding:10px;
}
.left-menu ul{
    list-style: none;
    padding-left:20px;
}
.left-menu ul li{
    display:block;
    margin: 5px 0;
}
.left-menu ul li a{
    color: brown;
    font-size: 14px;
    
}
.white{
    color: white;
}