html, body {
    height: 100%;
    font-family: 'Segoe UI';
}
h1, h2, h3{
    color: #2C529C;
    /*color: #0B766E;*/
    font-weight: normal;
}
code{
    background-color: bisque;
    color: brown;
    padding:10px 10px;
    margin:10px 10px 10px 0;
    display:block;
    border-radius: 2px;
}
.white{
    color: white;
}